<header class="header">
  <div class="header__container">
    <a class="header__brand" routerLink="/">
      <app-icon [icon]="'lemon'" [size]="40" />
      <h1 class="header__title">Shood</h1>
    </a>
  
    <nav class="header__navigation" [ngClass]="{ 'header__navigation--visible' : isMenuOpen }">
      <ul class="header__menu">
        <app-item-menu (clicked)="handleToggleMenu()" [text]="'Home'" [section]="''" [isLink]="true"/>
        <app-item-menu (clicked)="handleToggleMenu()" [text]="'Top foods'" [section]="'top-foods'" />
        <app-item-menu (clicked)="handleToggleMenu()" [text]="'Reviews'" [section]="'reviews'" />
        @if (isAdmin) {
          <app-item-menu (clicked)="handleToggleMenu()" [text]="'Admin'" [section]="'admin'" [isLink]="true"/>
        }
      </ul>
  
      @if (currentUser) {
        <app-profile-picture [picture]="currentUser.photoUrl" [userName]="currentUser.name"/>
        <app-icon class="header__logout" (click)="handleLogOut()" [icon]="'logout'" [size]="30" />
      } @else {
        <app-button [text]="'Iniciar sesión'" [size]="18" (clicked)="navigateToLogin()" />
      }
    </nav>
    <app-icon class="header__open" (click)="handleToggleMenu()" [icon]="isMenuOpen ? 'times' : 'menu'" [size]="40" />
  </div>
</header>
