<header class="header">
  <div class="header__container">
    <a class="header__brand" href="#">
      <app-icon [icon]="'lemon'" [size]="40" />
      <h1 class="header__title">Shood</h1>
    </a>
  
    <nav class="header__navigation" [ngClass]="{ 'header__navigation--visible' : isMenuOpen }">
      <ul class="header__menu">
        <app-item-menu (clicked)="handleToggleMenu()" [text]="'Home'" [section]="''" />
        <app-item-menu (clicked)="handleToggleMenu()" [text]="'Top foods'" [section]="'top-foods'" />
        <app-item-menu (clicked)="handleToggleMenu()" [text]="'Reviews'" [section]="'reviews'" />
      </ul>
  
      @if (currentUser) {
        <app-profile-picture [picture]="'https://unavatar.io/github/mdo'" [userName]="'Mdo'"/>
      } @else {
        <app-button [text]="'Iniciar sesión'" />
      }
    </nav>
    <app-icon class="header__open" (click)="handleToggleMenu()" [icon]="isMenuOpen ? 'times' : 'menu'" [size]="40" />
  </div>
</header>
