<section class="cart-total">
  <h3 class="cart-total__title">Summary</h3>

  <ul class="cart-total__items">
    <li class="cart-total__item">
      <span class="cart-total__name">Subtotal:</span>
      <span class="cart-total__value">${{subTotal}}</span>
    </li>
    <li class="cart-total__item">
      <span class="cart-total__name">Taxes:</span>
      <span class="cart-total__value">${{taxes}}</span>
    </li>
    <li class="cart-total__item">
      <span class="cart-total__name">Other taxes:</span>
      <span class="cart-total__value">$0</span>
    </li>
    <hr>
    <li class="cart-total__item">
      <span class="cart-total__name">Total:</span>
      <span class="cart-total__value">${{total}}</span>
    </li>
  </ul>
  <app-button [text]="'Pay'" [type]="'form'" (clicked)="finishPurchase()" />
</section>