<section class="category-list">
  <h3 class="category-list__title">Category list</h3>

  <ul class="category-list__items">
    <li><a class="category-list__link" [routerLink]="'/commerce/all/shop'">All</a></li>
    <li><a class="category-list__link" [routerLink]="'/commerce/vegetables/shop'">Vegetables</a></li>
    <li><a class="category-list__link" [routerLink]="'/commerce/meat/shop'">Meat</a></li>
    <li><a class="category-list__link" [routerLink]="'/commerce/cereals/shop'">Cereals</a></li>
    <li><a class="category-list__link" [routerLink]="'/commerce/dairy/shop'">Dairy</a></li>
    <li><a class="category-list__link" [routerLink]="'/commerce/fats/shop'">Fats</a></li>
  </ul>
</section>