<section class="category-list">
  <h3 class="category-list__title">Category list</h3>

  <ul class="category-list__items">
    <li><a class="category-list__link" [routerLink]="'/commerce/all'">All</a></li>
    <li><a class="category-list__link" [routerLink]="'/commerce/vegetables'">Vegetables</a></li>
    <li><a class="category-list__link" [routerLink]="'/commerce/meat'">Meat</a></li>
    <li><a class="category-list__link" [routerLink]="'/commerce/cereals'">Cereals</a></li>
    <li><a class="category-list__link" [routerLink]="'/commerce/dairy'">Dairy</a></li>
    <li><a class="category-list__link" [routerLink]="'/commerce/fats'">Fats</a></li>
  </ul>
</section>