.category-list {
  padding-inline: 25px;
  width: 200px;
  height: calc(100dvh - 123px);
}

.category-list__title {
  margin-bottom: 10px;
}

.category-list__items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  margin-left: 10px;
}

.category-list__link {
  text-decoration: none;
  color: #898989;
}

.category-list__link:hover {
  color: #676767;
}

@media (width <= 720px) {
  .category-list {
    height: auto;
  }
}