.manage-foods__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.manage-foods {
  border-radius: 10px;
  padding: 20px;
  background-color: #dcdcdc;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}

.manage-foods__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.manage-foods-template__td {
  padding: 10px;
  max-width: 200px;
}

.manage-foods__form {
  display: block;
  position: fixed;
  overflow: scroll;
  top: 73px;
  right: -100%;
  height: calc(100dvh - 73px);
  z-index: 4;
  background-color: #ebebeb;
  padding: 20px;
  box-shadow: 0 10px 10px 1px rgba(0,0,0,0.25);
  transition: right 0.3s ease-in-out;
}

.manage-foods__form--visible {
  right: 0;
}

.manage-foods__toggle {
  position: absolute;
  top: 22px;
  right: 18px;
  z-index: 3;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.manage-foods-template__td--actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.action__delete {
  .button {
    background-color: #af776b !important;
  }
}

.food {
  border-radius: 20px;
  border: 0.5px solid #ccc;
}

.food__container {
  padding: 20px 15px;
}

.food__name {
  font-size: 18px;
  font-weight: 600;
}

.food__price, .food__original-price {
  font-weight: 600;
  display: block;
  color: #7a7a7a;
  display: block;
}

.food__price-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.food__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.action__update {
  .button {
    background-color: #6ba4af !important;
  }
}

@media (width <= 720px) {
  .manage-foods__form {
    width: 100vw;
  }
}