<section class="manage-foods">
  <h1 class="manage-foods__title">Manage foods</h1>
  
  <article>
    <header class="manage-foods__header">
      <app-button [text]="'Create'" [type]="'form'" (clicked)="handleToggleForm()" />
    </header>
    <main>
      <app-table
          [headers]="[
            ['Name', '3rem'],
            ['Description', '3rem'],
            ['Category', '3rem'],
            ['Original price', '3rem'],
            ['Price', '3rem'],
            ['Stock', '3rem']
          ]"
        [isLoading]="isLoadingTable"
        [items]="foods || []"
        [itemTemplateRef]="foodTemplate"
      />
    </main>
  </article>
</section>

<section class="manage-foods__form" [ngClass]="{ 'manage-foods__form--visible' : isFormVisible }">
  <app-icon class="manage-foods__toggle" (click)="handleToggleForm()" [icon]="'arrow-right'" [size]="20" />
  <app-food-form
    [isLoading]="isLoadingAction"
    [currentFood]="currentFood"
    (formSubmitted)="handleSendForm($event)"
  />
</section>

<ng-template #foodTemplate let-food="item" let-index="index">
  <td class="manage-foods-template__td">
    {{food.name}}
  </td>
  <td class="manage-foods-template__td">
    {{food.description}}
  </td>
  <td class="manage-foods-template__td">
    {{food.category}}
  </td>
  <td class="manage-foods-template__td">
    {{food.originalPrice}}
  </td>
  <td class="manage-foods-template__td">
    {{food.price}}
  </td>
  <td class="manage-foods-template__td">
    {{food.stock}}
  </td>
</ng-template>