<section class="manage-foods">
  <h1 class="manage-foods__title">Manage foods</h1>
  
  <article>
    <header class="manage-foods__header">
      <app-button [text]="'Create'" [type]="'form'" (clicked)="handleToggleForm()" />
    </header>
    <main>
      <app-table
          [headers]="[
            ['Name', '3rem'],
            ['Description', '3rem'],
            ['Category', '3rem'],
            ['Original price', '3rem'],
            ['Price', '3rem'],
            ['Stock', '3rem'],
            ['Actions', '3rem']
          ]"
        [isLoading]="isLoadingTable"
        [items]="foods || []"
        [itemTemplateRef]="foodTemplate"
      />
    </main>
  </article>
</section>

<section class="manage-foods__form" [ngClass]="{ 'manage-foods__form--visible' : isFormVisible }">
  <app-icon class="manage-foods__toggle" (click)="handleToggleForm()" [icon]="'times'" [size]="20" color="#000"/>
  @if (isFormVisible) {
    <app-food-form
      [isLoading]="isLoadingAction"
      [currentFood]="currentFood"
      (formSubmitted)="handleSendForm($event)"
    />
  }
</section>

<ng-template #foodTemplate let-food="item" let-index="index">
  <td class="manage-foods-template__td">
    {{food.name}}
  </td>
  <td class="manage-foods-template__td">
    {{food.description}}
  </td>
  <td class="manage-foods-template__td">
    {{food.category}}
  </td>
  <td class="manage-foods-template__td">
    {{food.originalPrice}}
  </td>
  <td class="manage-foods-template__td">
    {{food.price}}
  </td>
  <td class="manage-foods-template__td">
    {{food.stock}}
  </td>
  <td class="manage-foods-template__td manage-foods-template__td--actions">
    <app-button class="action__update" [text]="'Edit'" [type]="'form'" (clicked)="setCurrentProduct(food); handleToggleForm()" />
    <app-button class="action__delete" [text]="'Delete'" [type]="'form'" (clicked)="modalRef.toggleModal(); setCurrentProduct(food)" />
  </td>
</ng-template>

<app-modal
  [isConfirm]="false"
  [title]="'Delete food'"
  (cancel)="setCurrentProduct(null)"
  (confirm)="handleDeleteFood()"
  #modalRef
>
  <h2 class="food__title">Are you sure delete this food?</h2>
  <article class="food"> 
    <div class="food__container">
      <h4 class="food__name">Name: {{currentFood?.name}}</h4>
      <div>
        <p class="food__original-price">Original price: ${{currentFood?.originalPrice}}</p>
        <div class="food__price-container">
          <p class="food__price">Price: ${{currentFood?.price}}</p>
        </div>
      </div>
    </div>
  </article>
</app-modal>