<article class="food">
  <img class="food__image" [src]="food?.image?.src" [alt]="food?.image?.alt">

  <div class="food__container">
    <h4 class="food__name">{{food.name}}</h4>
    <div>
      <p class="food__original-price">${{food.originalPrice}}</p>
      <div class="food__price-container">
        <p class="food__price">${{food.price}}</p>
        <span class="food__discount">50% OFF</span>
      </div>
      @if (isCommerce) {
        <div class="food__actions">
          <app-icon class="food__action" [icon]="'minus'" [color]="'#000'" [size]="15" (click)="sub()" />
          {{food.quantity}}
          <app-icon class="food__action" [icon]="'plus'" [color]="'#000'" [size]="15" (click)="add()" />
        </div>
      }
    </div>
  </div>
</article>