<header class="header">
  <div class="header__container">
    <a class="header__brand" routerLink="/">
      <app-icon [icon]="'lemon'" [size]="40" />
      <h1 class="header__title">Shood</h1>
    </a>
  
    <nav class="header__navigation">
      @if (currentUser) {
        <app-profile-picture [picture]="currentUser.photoUrl" [userName]="currentUser.name" />
        
        @if (isCommerce) {
          <div class="header__cart-container">
            <app-icon class="header__icon" (click)="navigate()" [icon]="'shopping-cart'" [size]="25" />
            
            @if (foodsCount) {
              <span class="header__cart">{{foodsCount}}</span>
            }
          </div>
        }

        <app-icon class="header__icon" (click)="handleLogOut()" [icon]="'logout'" [size]="25" />
      }
    </nav>
  </div>
</header>