<section class="grid-images">
  <article class="grid-images__item" style="grid-column: 1 / 7;">
    <img
      class="grid-images__image"
      src="/assets/food1.webp"
      alt="Salad with vegetables and meat"
    >
    <div class="grid-images__detail">
      <h2 class="grid-images__title">Frutas y verduras</h2>
      <app-button [text]="'Ver más'"/>
    </div>
  </article>
  <article class="grid-images__item" style="grid-column: 7 / 13;">
    <img
      class="grid-images__image"
      src="/assets/food2.webp"
      alt="Person applying lemon to tacos"
    >
    <div class="grid-images__detail">
      <h2 class="grid-images__title">Carnes y proteinas</h2>
      <app-button [text]="'Ver más'"/>
    </div>
  </article>
  <article class="grid-images__item" style="grid-column: 1 / 6;">
    <img
      class="grid-images__image"
      src="/assets/food3.webp"
      alt="Cake with blackberries around"
    >
    <div class="grid-images__detail">
      <h2 class="grid-images__title">Granos y cereales</h2>
      <app-button [text]="'Ver más'"/>
    </div>
  </article>
  <article class="grid-images__item" style="grid-column: 6 / 13;">
    <img
      class="grid-images__image"
      src="/assets/food4.webp"
      alt="Blueberry and banana sandwich"
    >
    <div class="grid-images__detail">
      <h2 class="grid-images__title">Lácteos</h2>
      <app-button [text]="'Ver más'"/>
    </div>
  </article>
  <article class="grid-images__item" style="grid-column: 1 / 13;">
    <img
      class="grid-images__image"
      src="/assets/food5.webp"
      alt="Meat, chicken and vegetable dishes"
    >
    <div class="grid-images__detail">
      <h2 class="grid-images__title">Grasas y aceites</h2>
      <app-button [text]="'Ver más'"/>
    </div>
  </article>
</section>