<footer class="footer-login">
  <span class="footer-login__copy">© 2024 Jacobo Garcés. Some copyright.</span>

  <nav>
    <ul class="footer-login__menu">
      <li><a class="footer-login__link" href="https://github.com/JacoboGarcesO" target="_blank">GitHub</a></li>
      <li><a class="footer-login__link" href="https://www.instagram.com/jacob_7g" target="_blank">Instagram</a></li>
      <li><a class="footer-login__link" href="https://www.linkedin.com/in/jacobo-garc%C3%A9s-427a79204" target="_blank">LinkedIn</a></li>
    </ul>
  </nav>
</footer>