.item-menu {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  padding: 5px 10px;
}

.item-menu__link {
  text-decoration: none;
  color: #FFF;
}

.item-menu:hover {
  background-color: #6BAF8D;
}

@media (width <=720px) {
  .item-menu__link {
    font-size: 20px;
  }
}