.input {
  display: grid;
  gap: 5px;

  span {
    font-size: 16px;
    font-weight: 600;
  }

  input {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #dedede;
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.25);

    :focus {
      border: 2px solid #6BAF8D;
    }
  }
}

.input__errors {
  color: red;
  display: block;
  font-size: 12px !important;
}

input:focus {
  outline: 2px solid #6BAF8D;
}